layout {
  pane {
    borderless true
    size 1
    plugin location="zellij:compact-bar"
  }
  pane split_direction="horizontal" {
    pane {
      command "hx"
      args "."
      focus true
      size "75%"
      borderless true
    }
    pane {
      size "25%"
    }
  }
}
