layout {
  pane split_direction="horizontal" {
    pane {
      edit "."
      focus true
      size "75%"
      borderless true
    }
    pane {
      size "25%"
    }
  }

  pane {
    plugin location="zellij:compact-bar"
    borderless true
    size 1
  }
}
