layout {
  pane split_direction="vertical" {
    pane {
      edit "."
      focus true
      name "Editor"
      size "60%"
      borderless true
    }
    pane stacked=true {
      pane {
        name "LazyGit"
        command "lazygit"
      }
      pane {
        name "Terminal"
      }
    }
  }
  pane size=1 borderless=true {
    plugin location="zellij:compact-bar"
  }
}
