layout {
  pane {
    borderless true
    size 1
    plugin location="zellij:compact-bar"
  }
  pane split_direction="vertical" {
    pane {
      command "hx-pick"
      args "."
      focus true
      size "60%"
      borderless true
    }
    pane stacked=true {
      pane {
        name "LazyGit"
        command "lazygit"
      }
      pane {
        name "Terminal"
      }
    }
  }
}
