layout {
  tab_template name="ui" {
    pane {
      borderless true
      size 1
      plugin location="zellij:compact-bar"
    }
    children
  }

  default_tab_template {
    pane {
      borderless true
      size 1
      plugin location="zellij:compact-bar"
    }
    pane {
      pane
      pane
    }
  }
}
